.absPos {
  position: absolute;
}

.container {
  display: grid;
  grid-template-columns:  [first] auto [separator] 35% [final];
  grid-template-rows: [top] 350px [middle] 200px [bottom] 200px [post-bottom];
  width:  1400px;
}

#graph_abs_parent {
  grid-row-start: top;
  grid-row-end: bottom;
  grid-column-start: first;
  grid-column-end: separator;
}


#bottom {
  grid-row-start: bottom;
  grid-row-end: post-bottom;
  grid-column-start: first;
  grid-column-end: final;
}

div#formula-entry {
  min-width: 90px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding-left: 5px;
  border-color: grey;
}

span.side_header {
  font-size:  25px;
}

div.side_desc {
  margin: 10px;
}

div.help {
  text-align: left;
  font-size: 15px;
  margin: 10px;
}

div#sidewindow {
  overflow-y: scroll;
  grid-row-start: top;
  grid-row-end: bottom;
  grid-column-start: separator;
  grid-column-end: final;
  overflow: scroll;
}

.hidden {
  display: none;
}