.error {
  color: rgb(255, 0, 0);
}

.valid {
  color: rgb(255, 0, 0);
  /*color: rgb(255, 255, 0);*/
}

.warn {
  color: rgb(204, 102, 0);
  /*color: rgb(255, 255, 0);*/
}

tr.true {
  background-color: rgba(0, 128, 0, 0.5);
}

tr.false {
  background-color: rgba(255, 0, 0, 0.5);
}

.bold {
  font-weight: bold;
}

#hint {
 font-weight: bold;
}

.good {
  color: green;
}

.centered {
  vertical-align: middle;
  text-align: center;
}

.spaced {
  margin-top: 20px;
  margin-bottom: 20px;
}

#stage-container {
  position: absolute;
  top:  0px;
  left: 0px;
}

.absolute {
  position: absolute;
  font-size:  20px;
  font-weight:  bold;
  color: blue;
}

.overlay  {
  position: absolute;
  background-color: rgba(255,255,255,.5);
  font-size:  20px;
  font-weight:  bold;
  color: blue;
}

.overlay_cover {
  position: absolute;
  width:  100%;
  height: 100%;
}

.positioned {
  position: relative;
}

.scoreWindow {
  border-width: 2px;
  border-style: solid;
  border-color: #157d00;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  font-weight: bold;
  color:  green;
  background-color: rgb(125,242,127);
}

.progressWindow {
  font-size: 25px;
  border-color: #157d00;
}

.tracesWindow {
  border-color: #f29408;
}

.msgWindow {
  border-color: #f29408;
}

.stickyWindow {
  border-color: #f29408;
}

.box {
  border-width: 2px;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  margin: 4px;
}
