.error {
  color: rgb(255, 0, 0);
}

.valid {
  color: rgb(255, 0, 0);
  /*color: rgb(255, 255, 0);*/
}

.warn {
  color: rgb(204, 102, 0);
  /*color: rgb(255, 255, 0);*/
}

tr.true {
  background-color: rgba(0, 128, 0, 0.5);
}

tr.false {
  background-color: rgba(255, 0, 0, 0.5);
}

.bold {
  font-weight: bold;
}

#hint {
 font-weight: bold;
}

.good {
  color: green;
}

.centered {
  vertical-align: middle;
  text-align: center;
}

.spaced {
  margin-top: 20px;
  margin-bottom: 20px;
}

#stage-container {
  position: absolute;
  top:  0px;
  left: 0px;
}

.absolute {
  position: absolute;
  font-size:  20px;
  font-weight:  bold;
  color: blue;
}

.overlay  {
  position: absolute;
  background-color: rgba(255,255,255,.5);
  font-size:  20px;
  font-weight:  bold;
  color: blue;
}

.overlay_cover {
  position: absolute;
  width:  100%;
  height: 100%;
  background-color: rgba(255,255,255,1);
}
